In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-07-18 21:59:07,-23.1203,-134.9692,71.76,60,100,24.05
1,1,Labuhan,ID,2021-07-18 21:59:07,-6.8844,112.2051,75.43,86,26,6.67
2,2,Torbay,CA,2021-07-18 21:59:07,47.6666,-52.7314,75.97,63,40,19.57
3,3,Ushuaia,AR,2021-07-18 21:58:55,-54.8000,-68.3000,40.66,87,40,8.05
4,4,Cape Town,ZA,2021-07-18 21:58:24,-33.9258,18.4232,60.89,65,0,4.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Labuhan,ID,2021-07-18 21:59:07,-6.8844,112.2051,75.43,86,26,6.67
2,2,Torbay,CA,2021-07-18 21:59:07,47.6666,-52.7314,75.97,63,40,19.57
5,5,Abu Samrah,SY,2021-07-18 21:59:07,35.3029,37.1841,83.66,37,0,7.87
6,6,Vaini,TO,2021-07-18 21:57:30,-21.2000,-175.2000,78.96,83,20,6.91
9,9,Lorengau,PG,2021-07-18 21:59:08,-2.0226,147.2712,81.05,76,100,0.58
17,17,Jamestown,US,2021-07-18 21:54:19,42.0970,-79.2353,78.30,63,1,4.00
18,18,Salamiyah,SY,2021-07-18 21:59:10,35.0113,37.0532,80.91,36,0,8.05
20,20,Saint Marys,US,2021-07-18 21:59:10,30.7305,-81.5465,83.03,64,1,6.91
21,21,Jalu,LY,2021-07-18 21:59:11,29.0331,21.5482,79.50,49,0,12.88
29,29,Puntarenas,CR,2021-07-18 21:59:13,9.9763,-84.8384,89.53,73,93,5.03

In [13]:
preferred_cities_df.count()

City_ID       202
City          202
Country       202
Date          202
Lat           202
Lng           202
Max Temp      202
Humidity      202
Cloudiness    202
Wind Speed    202
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1       Labuhan      ID     75.43  -6.8844  112.2051
2        Torbay      CA     75.97  47.6666  -52.7314
5    Abu Samrah      SY     83.66  35.3029   37.1841
6         Vaini      TO     78.96 -21.2000 -175.2000
9      Lorengau      PG     81.05  -2.0226  147.2712
17    Jamestown      US     78.30  42.0970  -79.2353
18    Salamiyah      SY     80.91  35.0113   37.0532
20  Saint Marys      US     83.03  30.7305  -81.5465
21         Jalu      LY     79.50  29.0331   21.5482
29   Puntarenas      CR     89.53   9.9763  -84.8384

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Labuhan,ID,75.43,-6.8844,112.2051,PT PPI Lamongan Tambak C
2,Torbay,CA,75.97,47.6666,-52.7314,Gallows Cove
5,Abu Samrah,SY,83.66,35.3029,37.1841,
6,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
9,Lorengau,PG,81.05,-2.0226,147.2712,Lorengau Harbourside Hotel
17,Jamestown,US,78.30,42.0970,-79.2353,Hampton Inn & Suites Jamestown
18,Salamiyah,SY,80.91,35.0113,37.0532,Gondolas Forum grandchildren and grandparents
20,Saint Marys,US,83.03,30.7305,-81.5465,Spencer House Inn
21,Jalu,LY,79.50,29.0331,21.5482,صاحبة الفخامة
29,Puntarenas,CR,89.53,9.9763,-84.8384,Michael's Surfside Hotel

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))